<!--<!DOCTYPE html>
<html>
<head>
    <title>desistiu</title>
</head>
<body>
    <h1>candidatura cancelada</h1>
</body>
</html>
-->

<!DOCTYPE html>
<html>
<head>
    <title>Chatbot SiDi</title>
    <link rel="stylesheet" href="static/style.css">

    <style>
    .chat-message {
    animation: blink 2s ease-in-out 1;
    }

    @keyframes blink {
        0%, 100% {
        background-color: #f2ffe6;
        }
        50% {
        background-color: red;
    }

    </style>

</head>
<body>
  <div class="chat-container">
    <h1>Chatbot SiDi</h1>
    <div class="chat-message user-message">
      <div class="message-content">Candidatura cancelada</div>
    </div>



    <div class="message-input">
      <input type="text" name="resposta" placeholder="Digite sua mensagem">
      <button type="submit" value="Enviar">Enviar</button>
    </div>

  </div>
</body>
</html>