<!--<!DOCTYPE html>
<html>
<head>
    <title>Qual o seu email?</title>
</head>
<body>
    <h1>agora preciso do seu email!</h1>
    <form method="post" action="/pergunta6">
        <input type="text" name="resposta" placeholder="Por favor, insira o seu email">
        <input type="submit" value="Enviar">
    </form>
</body>
</html>
-->

<!DOCTYPE html>
<html>
<head>
    <title>Chatbot SiDi</title>
    <link rel="stylesheet" href="static/style.css">

</head>
<body>
  <div class="chat-container">
    <h1>Chatbot SiDi</h1>
    <div class="chat-message user-message">
      <div class="message-content">Agora me informe seu email</div>
    </div>


    <form method="post" action="/pergunta6">
    <div class="message-input">
    <input type="text" name="resposta" placeholder="Por favor, insira o seu email">
    <button type="submit">Enviar</button>
    </div>
    </form>
  </div>
</body>
</html>