<!--<!DOCTYPE html>
<html>
<head>
    <title>Qual o seu nome?</title>
</head>
<body>
    <h1>Por favor, me informe o seu nome completo</h1>
    <form method="post" action="/pergunta5">
        <input type="text" name="resposta" placeholder="Por favor, insira o seu nome">
        <input type="submit" value="Enviar">
    </form>
</body>
</html>
-->

<!DOCTYPE html>
<html>
<head>
    <title>Chatbot SiDi</title>
    <link rel="stylesheet" href="static/style.css">

</head>
<body>
  <div class="chat-container">
    <h1>Chatbot SiDi</h1>
    <div class="chat-message user-message">
      <div class="message-content">Ótimo !</div>
      <div class="message-content">Por favor, me informe o seu nome completo</div>
    </div>


    <form method="post" action="/pergunta5">
    <div class="message-input">
    <input type="text" name="resposta" placeholder="Por favor, insira o seu nome">
    <button type="submit">Enviar</button>
    </div>
    </form>
  </div>
</body>
</html>