<!--<!DOCTYPE html>
<html>
<head>
    <title>PáginaOlá. Seja bem vindo ao chatbot do SiDi.</title>
</head>
<body>
    <h1>Esse conhecimento é obrigatório para essa vaga. Tente outras vagas disponíveis.</h1>
</body>
</html>
-->

<!DOCTYPE html>
<html>
<head>
    <title>Chatbot SiDi</title>
    <link rel="stylesheet" href="static/style.css">

    <style>
    .chat-message {
    animation: blink 2s ease-in-out 1;
    }

    @keyframes blink {
        0%, 100% {
        background-color: #f2ffe6;
        }
        50% {
        background-color: red;
    }

    </style>

</head>
<body>
  <div class="chat-container">
    <h1>Chatbot SiDi</h1>
    <div class="chat-message user-message">
      <div class="message-content">Esse conhecimento é obrigatório para essa vaga. Tente outras vagas disponíveis.</div>
    </div>


    <form method="post" action="/pergunta1">
    <div class="message-input">
      <input type="text" name="resposta" placeholder="Digite sua mensagem">
      <button type="submit" value="Enviar">Enviar</button>
    </div>
    </form>
  </div>
</body>
</html>