@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&family=Nunito:wght@500&display=swap');

    body {
        background-color: #46177d;
        font-family: 'Exo 2', sans-serif;

    }
    .chat-container {
      width: 65vw;
      height: 90vh;
      margin: 0 auto;
      padding: 20px;
      background-color: #f2f2f2;
      border-radius: 5px;
    }

    .chat-message {
      background-color: #e2e2e2;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 5px;
    }

    .user-message {
      background-color: #ccf2ff;
      align-self: flex-end;
    }

    .bot-message {
      background-color: #f2ffe6;
      align-self: flex-start;
    }

    .message-content {
      font-size: 14px;
    }


    /* Estilos para a seção de envio de mensagens */
    .message-input {
      display: flex;
      margin-top: 20px;
      bottom: 0;
      position: absolute;
    }

    .message-input input {
      flex: 1;
      padding: 8px;
      border: none;
      border-radius: 5px;
    }

    .message-input button {
      padding: 8px 16px;
      background-color: #4CAF50;
      border: none;
      border-radius: 5px;
      color: white;
      cursor: pointer;
    }

    .message-input button:hover {
      background-color: #45a049;
    }